body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; /* allows stacking */
}

.form-section, .receipt-section {
    width: 100%;
    max-width: 320px;
    background: #fff;
    padding: 28px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-section input, .form-section button {
    width: 90%;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.receipt-section {
    border: 1px dashed #000;
    font-family: monospace;
    font-size: 14px;
    padding: 15px;
}

.center {
    text-align: center;
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.line {
    border-bottom: 1px dashed #000;
    margin: 8px 0;
}

.right {
    text-align: center;
}


.bizpin {
    text-align: center;
}

/* Mobile adjustments */
@media (max-width: 500px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-section, .receipt-section {
        max-width: 90%;
        padding: 10px;
    }
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 10px;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 3px;
}

.businessPin {
    text-align: center;
}

.centqr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
